# Игнорирование виртуального окружения
.venv/

# Игнорирование настроек среды разработки (например, PyCharm)
.idea/

# Игнорирование артефактов сборки
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Игнорирование файлов, создаваемых системой
*.DS_Store
*.log
.env
